html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("sky_background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Lato', sans-serif;
    color:white;    
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;
}

.logo {
    margin-left: 10px;
} 

.Technophobes{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 1300px;
    border-radius: 20px;
    padding: 2px 7px 2px 7px;
    background-color: #0072c9;
    opacity: 10;
    text-align: center;
    font-size: larger;
}

.header_flexbox {
    display: flex;
    justify-content: space-between;
}

ul#pageList li.otherPages {
    display: inline;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Add a background color with transparency */
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;

    }

    ul#pageList li.otherPages:hover {
    background-color: white;
    color: black;
}
/* About Us, Help, Legal and Privacy Nav Bar */
#pages{
    display:inline;
    text-align: right;
}
ul#pageList li:nth-child(4){
    margin-right:50px;
}
.otherPages{
    display:inline;
    margin: 10px; 
}
#pageBackgrounds{
    padding:0;
    margin: 0;
}
.containers{
    display:flex;
    justify-content:space-around;
}
#aboutUs,#help,#privacy,#legal{
    transition:0.5s;
}
#aboutUs:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}
#help:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}
#privacy:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}
#legal:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}

h1{
    font-size: 50px;

}

h1,p{
    display: block;
    text-align: center;
}

/* Makes whole container of team members in to flexbox */
.teams{ 
    display:flex;
    justify-content: space-around;
}

.teamMember{
    background-color: white;
    color: black;
    width:250px;
    height:350px;
    border-radius:50px;
    transition:0.5s;
    padding: 20px;
}

.teamMember > h2{
    text-align: center;
}

.teamMember:hover{
    width:300px;
    height:400px;
    padding: 20px;
}

.descrip{
    text-align: left;
}

