html{
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-image: linear-gradient(
  210deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%  
);*/
    background-image: url("https://static.skyassets.com/contentstack/assets/bltdc2476c7b6b194dd/blt1a17d81421f4ab50/60b8ea937ed7e61985b8d3e5/Spectrum_Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Lato', sans-serif;
    color:white;    
}

h1 {
    display: flex;
    justify-content:center;   
}

.otherPages{
    display:inline;
    margin: 10px;
}

.containers{
    display:flex;
    justify-content:space-around;

}

#container1,#container2,#container3,#container4,#container5{
    display:flex;
    justify-content: space-around;
    width: 350px;
    height: 300px;
    border-radius:30px;
    perspective:1000px;
}

.card{
    position:relative;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    transform-style:preserve-3d;
}

#container1:hover .card {
    transform: rotateY(180deg);
}

#container2:hover .card {
    transform: rotateY(180deg);
}

#container3:hover .card {
    transform: rotateY(180deg);
}

#container4:hover .card {
    transform: rotateY(180deg);
}

#container5:hover .card {
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    display:flex;
    background-color: white;
    border-radius:30px;
    color: black;
    justify-content: center;
    align-items: center;

}

.back {
    background-color: dodgerblue;
    border-radius:30px;
    color: white;
    transform: rotateY(180deg);
}












