html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/sky_background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Lato', sans-serif;
    color:white;    
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;
}

.Technophobes{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 1300px;
    border-radius: 20px;
    padding: 2px 7px 2px 7px;
    background-color: #0072c9;
    opacity: 10;
    text-align: center;
    font-size: larger;
}

.header_flexbox {
    display: flex;
}

/* About Us, Help, Legal and Privacy Nav Bar */
#pages{
    position: absolute;
    top: 10px; /* Adjust the top spacing as needed */
    right: 10px; /* Adjust the right spacing as needed */
}

ul#pageList {
list-style: none; /* Remove default list styles */
padding: 0;
margin: 0;
}

ul#pageList li:nth-child(4){
    margin-right:50px;
    margin-bottom: -700px;
}

ul#pageList li.otherPages {
display: inline;
margin: 10px;
cursor: pointer;

}

ul#pageList li.otherPages:hover {
background-color: white;
color: black;
}


.otherPages{
    display:inline;
    margin: 10px; 
}
#pageBackgrounds{
    padding:0;
    margin: 0;
} */

.containers{
    display:flex;
    justify-content:space-around;
}
#aboutUs,#resources, #legalPrivacy{
    transition:0.5s;
}
#aboutUs:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}
#resources:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}
#legalPrivacy:hover{
    background-color: white;
    color: black;
    border-radius: 6px; 
    padding:5px
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

.nav:hover{
color:black;
}

h1{
    font-size: 50px;
}

h1,p{
    display: block;
    text-align: center;
}

p{
    font-size: 20px;
}

.Page_Footer {
    background-color: #071b42;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 40px; 
}

/* 695px x 820px */

#firstInfo {
    background-color: white;
    color: black;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 150px 10px 40px;
    width: 800px;
    height:auto;
    padding-top: -100px; 
    border: #0072c9;
    border-style: solid;
    border-width: 10px;
    font-size: 20px;
}

.images{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width:800px;
    text-align: center;
}

.img{
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.imgText{
    color: black;
    background-color: white;
    border: #0072c9;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    margin-bottom: 50px;
}

#topHalf{
    display: flex;
}

#jsFunction{
    background-color: white;
}

.infoHeadings{
    text-align: center;
}

